<%- partial('_partial/head') %>
  <body>
        <%- partial('_partial/header') %>
          <main>
            <%- body %>
          </main>
    <%- partial('_partial/footer') %>
  </body>
<%- partial('_partial/foot') %>
