meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content=config.description)
block title
//- link(rel="stylesheet" href=url_for('/css/normailze.css'))
//- link(rel="stylesheet" href=url_for('/css/style.css'))
link(rel="shortcut icon" type="image/x-icon" href="http://www.veen.com/favicon.ico")

//- |!{css('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', 'https://use.typekit.net/rys0slq.css', '/css/style.css')}

|!{css('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', 'https://use.typekit.net/cnr7euw.css', '/css/style.css')}
